/* -- Reset -- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	font-family: "Roboto";
	background-color: #2e2e2e;
	color: #fff;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	all: unset;
}

dialog {
	margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* -- Utilities -- */

.centered {
	text-align: center;
}

/* -- Layout Styles -- */

.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 2rem;
}

.turn {
	margin: 2rem;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* -- Content Styles -- */

.board {
	height: 450px;
	width: 450px;
	border: 1px solid black;
}

.cell {
	border: 1px solid #fff;
	text-align: center;
	font-size: 6rem;
}

.cell:hover {
	background-color: #3e3e3e;
}

dialog {
	background-color: #2e2e2e;
	color: #fff;
}

button {
	cursor: pointer;
}

.win-message {
	margin: 5rem;
}

.dialog-content button {
	margin: auto;
	border: 1px solid black;
}
/* -- Media Queries -- */
